html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
}

#button {
  display: inline-block;
  padding: 20px;
  background: #f4ffc3;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
  /* z-index: 2; */
}

#flashlight {
  position: absolute;
  box-shadow: 0 0 0 9999px #000;
  z-index: -1;
}

.flash {
  display: none;
}
